@import './public/reset.css';
@import './public/btn.css';
@import './public/layout.css';
@import './public/vaildform.css';
@import './public/pagination.css';
@import './public/jqtransform.css';
@import './public/select2.css';
@import '../js/lib/layer/skin/layer.css';



#leftBar li{
	line-height: 30px;
	text-align: center;
}
#leftBar li a{
	color:#fff;
}

